.description{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }
  .two-columns{
    display: flex;
    width: 80%;
    justify-content: space-between;
  }
  .two-columns__brif{
    margin: 0;
    width: 175px;
    color: #2f80ed;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
  }
  .two-columns__main-text{
    width: 80%;
    min-width: 784px;
  }
  .two-columns__paragraph{
    line-height: 34px;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .two-columns__span{
    font-weight: bold;
    line-height: 34px;
    font-size: 24px;
  }