.kaufman{
    margin: 0 auto;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  .section-title_theme_dark{
    margin-top: 90px;
    color: white;
  }
  .section-subtitle_theme_dark {
    margin-top: 20px;
    color: white;
  }
  .table_theme_dark{
    margin-bottom: 90px;
    z-index:2;
  }
  .table__cell_theme_dark {
    margin: 0 auto;
    width: 200px;
    color: white;
    margin-top: 80px;
  }