.footer{
    margin: 0;
    color: white;
    background-color: #1f1f1f;
    min-height: 350px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-bottom: 40px;
    padding-top: 60px;
  }
  .logo_place_footer{
    width: 183px;
    height: 35px; 
  }